/*管理员登录页*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
button {
    background: transparent;
    border: 0;
    outline: none;
}

body {
    height: 100vh;
    /*background: linear-gradient(#141e30, #243b55);*/
    background-image: url("/images/BG1.png");
    background-attachment: fixed; /* 固定背景图片 */
    background-size: cover;       /* 确保背景图片覆盖整个元素 */
    background-position: center;  /* 居中对齐背景图片 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000000;
}

.loginBox {
    width: 400px;
    height: 364px;
    background-color: #FFF3D3;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
    padding: 40px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    height: 45px;
    border-bottom: 1px solid #020202;
    margin-bottom: 40px;
    position: relative;
}

.item input {
    width: 100%;
    height: 100%;
    color: #000000;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus+label,
.item input:valid+label {
    top: 0px;
    font-size: 13px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.5s linear;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    color: #ffab2e;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #ffab2e;
    box-shadow: 0 0 5px 0 #ffab2e,
    0 0 25px 0 #ffab2e,
    0 0 50px 0 #ffab2e,
    0 0 100px 0 #ffab2e;
    transition: all 1s linear;
}

.btn>span {
    position: absolute;
}

.btn>span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, transparent, #ffab2e);
    left: -100%;
    top: 0px;
    animation: line1 1s linear infinite;
}

@keyframes line1 {

    50%,
    100% {
        left: 100%;
    }
}

.btn>span:nth-child(2) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #ffab2e);
    right: 0px;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {

    50%,
    100% {
        top: 100%;
    }
}

.btn>span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, #ffab2e, transparent);
    left: 100%;
    bottom: 0px;
    animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {

    50%,
    100% {
        left: -100%;
    }
}

.btn>span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #ffab2e);
    left: 0px;
    top: 100%;
    animation: line4 1s 1s linear infinite;
}

@keyframes line4 {

    50%,
    100% {
        top: -100%;
    }
}
